<section class="w-full flex flex-col items-center">
  <header class="w-full p-5 text-center text-[32px] underline">
    Enquiry Form
  </header>
  <div
    class="w-[45%] flex flex-col mt-5 items-center"
    [formGroup]="reactiveForm"
  >
    <div class="w-full flex justify-between items-center mb-2">
      <app-input-controller
        [placeholder]="InputTypes.firstName"
        [group]="'form'"
        [name]="'F_name'"
        class="w-[45%]"
      ></app-input-controller>
      <app-input-controller
        [placeholder]="InputTypes.lastname"
        [group]="'form'"
        [name]="'L_name'"
        class="w-[45%]"
      ></app-input-controller>
    </div>
    <div class="w-full flex justify-between items-center mb-2">
      <app-input-controller
        [placeholder]="InputTypes.M_number"
        [group]="'form'"
        [name]="'M_number'"
        class="w-[45%]"
      ></app-input-controller>
      <app-input-controller
        [placeholder]="InputTypes.Email"
        [group]="'form'"
        [name]="'email'"
        class="w-[45%]"
      ></app-input-controller>
    </div>
    <div class="w-full flex justify-between items-center mb-2">
      <app-textarea-controller
        [placeholder]="InputTypes.message"
        [group]="'form'"
        [name]="'message'"
        class="w-full"
      ></app-textarea-controller>
    </div>
    <div class="w-full flex justify-center items-center my-5">
      <p-button
        label="Submit"
        (onClick)="Submit()"
        [disabled]="reactiveForm.invalid"
      ></p-button>
    </div>
  </div>
</section>

<section
  *ngIf="EnquiryArray && EnquiryArray.length > 0"
  style="border-top: 1px solid #e5e7eb"
>
  <header class="w-full p-5 text-center text-[32px] underline">
    All Enquiry
  </header>

  <div class="w-full my-3">
    <p-table [value]="EnquiryArray" [tableStyle]="{ 'min-width': '100%' }">
      <ng-template pTemplate="header">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.Phone }}</td>
          <td>{{ product.email }}</td>
          <td>{{ product.msg }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
