<div class="card">
    <!-- <p-scroller
      [itemSize]="50"
      [showLoader]="true"
      [delay]="250"
      styleClass="border-1 surface-border"
      > -->
      <!-- [style]="{ width: '200px', height: '200px' }" -->
      <p-table
        #dt
        [columns]="cols"
        [value]="products"
        [paginator]="true"
        [rows]="10"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              &#123;&#123;col.header&#125;&#125;
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns">
              <p-columnFilter
                type="text"
                [field]="col.field"
                [matchModeOptions]="matchModeOptions"
              ></p-columnFilter>
              <!-- [matchMode]="'custom-equals'" -->
            </th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              &#123;&#123;rowData[col.field]&#125;&#125;
            </td>
          </tr>
        </ng-template>
      </p-table>
    <!-- </p-scroller> -->
  </div>
  