<header
  class="p-2 text-[var(--primary-color)] font-bold text-[18px] bg-slate-300 w-full"
>
  Member Registration Details
</header>
<section>
  <!-- Page 1 -->
  <div
    *ngIf="page === '1'"
    class="flex flex-col p-2 mb-5 gap-y-3"
    [formGroup]="reactiveForm"
  >
    <!-- first -->
    <div class="row w-[70%] flex gap-3 items-center">
      <!-- Application Number -->
      <div class="w-[60%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Application Number</h1>
        <div class="w-full flex gap-x-2 items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Appliaction number'"
            [group]="'first'"
            [type]="'text'"
            [name]="'app_no'"
            [className]="'application-numb'"
          ></app-input-controller>
          <button
            class="text-center text-white py-1.5 px-4 text-[14px] bg-[var(--primary-color)] hover:bg-[var(--primary-hover-color)] rounded-[5px]"
            (click)="change()"
          >
            Search
          </button>
        </div>
      </div>
      <!-- Application Number -->
      <div class="w-[40%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Applicant Name</h1>
        <div class="w-full flex items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Applicant Name'"
            [group]="'first'"
            [type]="'text'"
            [name]="'app_name'"
            [className]="'application-name'"
          ></app-input-controller>
        </div>
      </div>
    </div>
    <!-- Second -->
    <div class="row Grid w-[70%] gap-3 items-center">
      <!-- Relation -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2">Relation</h1>
        <app-dropdown-controller
          [DropdownArray]="RelationArray"
          class="w-full"
          [placeholder]="'Select Relation'"
          [group]="'first'"
          [name]="'relation'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
      <!-- Relation name -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2">Relation Name</h1>
        <div class="w-full flex items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Relation Name'"
            [group]="'first'"
            [type]="'text'"
            [name]="'relation_name'"
            [className]="'application-name'"
          ></app-input-controller>
        </div>
      </div>
      <!-- Gender -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">gender</h1>
        <app-dropdown-controller
          [DropdownArray]="GenderArray"
          class="w-full"
          [placeholder]="'Select Gender'"
          [group]="'first'"
          [name]="'gender'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
      <!-- </div> -->
      <!-- Third -->
      <!-- <div class="row w-[70%] flex gap-3 items-center"> -->
      <!-- DOB -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Date of Birth</h1>
        <app-calendar-controller
          [placeholder]="'DD/MM/YYYY'"
          [group]="'first'"
          [name]="'dob'"
          [format]="'dd/mm/yy'"
        ></app-calendar-controller>
      </div>
      <!-- Age -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Age (In Years)</h1>
        <div class="w-full flex items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Age (In Years)'"
            [group]="'first'"
            [type]="'text'"
            [name]="'age'"
            [className]="'application-name'"
          ></app-input-controller>
        </div>
      </div>
      <!-- Cast Category -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Cast Category</h1>
        <app-dropdown-controller
          [DropdownArray]="CastCatArray"
          class="w-full"
          [placeholder]="'Select Cast Category'"
          [group]="'first'"
          [name]="'cast_Cat'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
      <!-- qualification -->
      <div class="w-[100%] flex flex-col gap-y-1">
        <h1 class="pl-2 required">Qualification</h1>
        <app-dropdown-controller
          [DropdownArray]="QualificationArray"
          class="w-full"
          [placeholder]="'Select Qualification'"
          [group]="'first'"
          [name]="'qualification'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
    </div>
    <!-- Address and Contact Details -->
    <section
      [formGroup]="reactiveForm.controls.first"
      class="gap-y-3 flex flex-col"
    >
      <header class="bg-[var(--primary-hover-color)] font-bold p-2 text-white">
        Address and Contact Details
      </header>
      <!-- State , District , Tehsil , Village -->
      <div class="row w-[70%] flex gap-3 items-center">
        <!-- State -->
        <div class="w-[25%] flex flex-col gap-y-1">
          <h1 class="pl-2">State</h1>
          <app-dropdown-controller
            [DropdownArray]="StateArray"
            class="w-full"
            [placeholder]="'Select State'"
            [group]="'contact_details'"
            [name]="'state'"
            [label]="'name'"
          ></app-dropdown-controller>
        </div>
        <!-- District -->
        <div class="w-[25%] flex flex-col gap-y-1">
          <h1 class="pl-2">District</h1>
          <app-dropdown-controller
            [DropdownArray]="DistrictArray"
            class="w-full"
            [placeholder]="'Select District'"
            [group]="'contact_details'"
            [name]="'district'"
            [label]="'name'"
          ></app-dropdown-controller>
        </div>
        <!-- Tehsil -->
        <div class="w-[25%] flex flex-col gap-y-1">
          <h1 class="pl-2">Tehsil</h1>
          <app-dropdown-controller
            [DropdownArray]="TehsilArray"
            class="w-full"
            [placeholder]="'Select Tehsil'"
            [group]="'contact_details'"
            [name]="'tehsil'"
            [label]="'name'"
          ></app-dropdown-controller>
        </div>
        <!-- Village -->
        <div class="w-[25%] flex flex-col gap-y-1">
          <h1 class="pl-2">Village</h1>
          <app-dropdown-controller
            [DropdownArray]="StateArray"
            class="w-full"
            [placeholder]="'Select Village'"
            [group]="'contact_details'"
            [name]="'village'"
            [label]="'name'"
          ></app-dropdown-controller>
        </div>
      </div>
      <!-- Mobile No. -->
      <div class="row w-[70%] flex gap-3 items-center">
        <!-- Hemlet -->
        <div class="w-[25%] flex flex-col">
          <h1 class="pl-2">Hemlet</h1>
          <app-dropdown-controller
            [DropdownArray]="StateArray"
            class="w-full"
            [placeholder]="'Select hamlet'"
            [group]="'contact_details'"
            [name]="'hamlet'"
            [label]="'name'"
          ></app-dropdown-controller>
        </div>
        <!-- house -->
        <div class="w-[25%] flex flex-col">
          <h1 class="pl-2">House No.</h1>
          <app-input-controller
            class="w-full"
            [placeholder]="'House No.'"
            [group]="'contact_details'"
            [type]="'text'"
            [name]="'house'"
            [className]="'application-numb'"
          ></app-input-controller>
        </div>
        <!-- post_office -->
        <div class="w-[25%] flex flex-col">
          <h1 class="pl-2">Post Office</h1>
          <app-input-controller
            class="w-full"
            [placeholder]="'Post Office'"
            [group]="'contact_details'"
            [type]="'text'"
            [name]="'post_office'"
            [className]="'application-numb'"
          ></app-input-controller>
        </div>
        <!-- pincode -->
        <div class="w-[25%] flex flex-col">
          <h1 class="pl-2 required">Pincode</h1>
          <app-input-controller
            class="w-full"
            [placeholder]="'Pincode'"
            [group]="'contact_details'"
            [type]="'text'"
            [name]="'pincode'"
            [className]="'application-numb'"
          ></app-input-controller>
        </div>
      </div>

      <div class="row w-[70%] flex gap-3 items-center">
        <!-- Mobile No. , Phone No. -->
        <div class="w-[24%] flex flex-col">
          <h1 class="pl-2 required">Mobile No.</h1>
          <app-input-controller
            class="w-full"
            [placeholder]="'Mobile No.'"
            [group]="'contact_details'"
            [type]="'text'"
            [name]="'mobile'"
            [className]="'application-numb'"
          ></app-input-controller>
        </div>
        <!-- Phone No. -->
        <div class="w-[24%] flex flex-col">
          <h1 class="pl-2">Phone No.</h1>
          <app-input-controller
            class="w-full"
            [placeholder]="'Phone No.'"
            [group]="'contact_details'"
            [type]="'text'"
            [name]="'phone'"
            [className]="'application-numb'"
          ></app-input-controller>
        </div>
      </div>
    </section>
    <!-- Milk Production -->
    <section
      [formGroup]="reactiveForm.controls.first"
      class="gap-y-3 flex flex-col"
    >
      <header class="bg-[var(--primary-hover-color)] font-bold p-2 text-white">
        Milk Production and Consumption Details
      </header>
    </section>
  </div>
</section>
