<header class="p-3 text-[#37338c] font-bold text-[18px] bg-slate-300 w-full">
  Member Registration Details
</header>
<section>
  <!-- Page 1 -->
  <div
    *ngIf="page === '1'"
    class="flex flex-col p-2"
    [formGroup]="reactiveForm"
  >
    <!-- first -->
    <div class="row w-[70%] flex gap-6 items-center">
      <!-- Application Number -->
      <div class="w-[60%] flex flex-col gap-y-1 my-3">
        <h1 class="pl-2 reuire">Application Number</h1>
        <div class="w-full flex gap-x-2 items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Appliaction number'"
            [group]="'first'"
            [type]="'text'"
            [name]="'app_no'"
            [className]="'application-numb'"
          ></app-input-controller>
          <button
            class="text-center text-white py-1.5 px-4 text-[14px] bg-[#323273] hover:bg-[#323273ef] rounded-[5px]"
          >
            Search
          </button>
        </div>
      </div>
      <!-- Application Number -->
      <div class="w-[40%] flex flex-col gap-y-1 my-3">
        <h1 class="pl-2 reuire">Applicant Name</h1>
        <div class="w-full flex items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Applicant Name'"
            [group]="'first'"
            [type]="'text'"
            [name]="'app_name'"
            [className]="'application-name'"
          ></app-input-controller>
        </div>
      </div>
    </div>
    <!-- Second -->
    <div class="row w-[70%] flex gap-6 items-center">
      <!-- Relation -->
      <div class="w-[30%] flex flex-col gap-y-1 my-3">
        <h1 class="pl-2">Relation</h1>
        <app-dropdown-controller
          [DropdownArray]="relationArray"
          class="w-full"
          [placeholder]="'Select Relation'"
          [group]="'first'"
          [name]="'relation'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
      <!-- Relation name -->
      <div class="w-[45%] flex flex-col gap-y-1 my-3">
        <h1 class="pl-2">Relation Name</h1>
        <div class="w-full flex items-center">
          <app-input-controller
            class="w-full"
            [placeholder]="'Relation Name'"
            [group]="'first'"
            [type]="'text'"
            [name]="'relation_name'"
            [className]="'application-name'"
          ></app-input-controller>
        </div>
      </div>
      <!-- Gender -->
      <div class="w-[25%] flex flex-col gap-y-1 my-3">
        <h1 class="pl-2 reuire">gender</h1>
        <app-dropdown-controller
          [DropdownArray]="GenderArray"
          class="w-full"
          [placeholder]="'Select Gender'"
          [group]="'first'"
          [name]="'gender'"
          [label]="'name'"
        ></app-dropdown-controller>
      </div>
    </div>
    <!-- Third -->
    <div class="row w-[70%] flex gap-6 items-center">
      <app-calendar-controller></app-calendar-controller>
    </div>
  </div>
</section>
