// .harsh {
:host ::ng-deep {
  .p-inputtext {
    padding: 0.3rem;
    font-size: 12px;
    font-weight: bold;
  }
  .p-datepicker table {
    td > span,
    th > span {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 13px;
    }
    td,
    th {
      padding: 0.4rem;
    }
  }
  .p-datepicker .p-datepicker-header {
    padding: unset;
  }
}

:host {
  --primary-color: #323273;
  --primary-hover-color: #323273ef;
}

.required {
  &::after {
    content: " *";
    color: red;
    font-weight: bold;
  }
}

.border {
  border: 1px solid black;
}

h1 {
  font-size: 13px;
}

header {
  font-size: 14px;
  font-weight: bold;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
}
