// .harsh {
:host ::ng-deep {
  .p-inputtext {
    padding: 0.5rem;
  }
}
// }
// :host {
//   ::ng-deep .p-inputtext {
//     padding: 0.6rem 0;
//   }
// }

.reuire {
  &::after {
    content: " *";
    color: red;
    font-weight: bold;
  }
}
