<p-tabMenu [model]="items" [activeItem]="activeItem">
  <ng-template pTemplate="item" let-item>
    <a class="p-menuitem-link" [routerLink]="item.url">
      <div>
        <span [class]="item.icon" ></span>
        <!-- <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> -->
        <!-- <i class="pi pi-check"></i> -->
        <span> {{ item.label }}</span>
      </div>
      <div>
        <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{
          item.shortcut
        }}</span>
      </div>
    </a>
  </ng-template>
</p-tabMenu>

<hr />

<div
  style="
    width: 100%;
    height: calc(100vh - 17rem);
    display: block;
    padding: 0 1rem;
  "
>
  <router-outlet></router-outlet>
</div>
