<section>
  <p class="h1">other-compo works!</p>
  <hr />
  <div style="margin-top: 3rem">
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      All Types of input
    </h1>
    <app-input-form></app-input-form>
  </div>
  <hr />
  <div style="width: 25%; margin-top: 3rem">
    <p-slider [(ngModel)]="value"></p-slider>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Slider component
    </h1>
  </div>

  <hr />
  <!-- Tree Select -->
  <div class="tree-select">
    <!-- class="md:w-20rem w-full" -->
    <p-treeSelect
      containerStyleClass="w-full"
      [(ngModel)]="selectedNodes"
      [options]="nodes"
      placeholder="Select Item"
    ></p-treeSelect>
    <br />
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Tree Select component
    </h1>
  </div>
  <hr />
  <div class="tree-select">
    <p-tree class="w-full md:w-30rem" [value]="TreeNodeData2"></p-tree>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Tree Nodes component
    </h1>
  </div>
  <hr />
  <!-- Accordion -->
  <div class="accordion">
    <p-accordion [multiple]="true" [activeIndex]="[0]">
      <p-accordionTab header="Header I">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header II">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit,
          sed quia non numquam eius modi.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header III">
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus.
        </p>
      </p-accordionTab>
    </p-accordion>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      accordion component
    </h1>
  </div>
  <hr />
  <!-- Org Chart -->
  <div>
    <p-organizationChart [value]="TreeNodeData"></p-organizationChart>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      organizationChart Component
    </h1>
  </div>
  <hr />
  <!-- Timeline -->
  <div class="accordion">
    <p-timeline [value]="Timeline">
      <ng-template pTemplate="content" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Timeline component
    </h1>
  </div>
  <hr />
  <!-- Feild Set -->
  <div class="accordion">
    <p-fieldset legend="Header">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </p-fieldset>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      fieldset component
    </h1>
  </div>
  <hr />
  <!-- panel Set -->
  <div class="accordion">
    <p-panel header="Header">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </p-panel>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Panel component
    </h1>
  </div>
  <hr />
  <!-- Dialog -->
  <div class="accordion">
    <p-button
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    ></p-button>
    <p-dialog
      header="Dialog Box"
      [(visible)]="visible"
      [style]="{ width: '50vw', height: '300px' }"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?
      </p>

      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus id quod maxime placeat facere possimus,
        omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
        quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
        ut et voluptates repudiandae sint et molestiae non recusandae. Itaque
        earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
        voluptatibus maiores alias consequatur aut perferendis doloribus
        asperiores repellat.
      </p>
    </p-dialog>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Dialog component
    </h1>
  </div>
  <hr />
  <!-- progressBar -->
  <div class="accordion">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '6px' }"
    ></p-progressBar>
    <h1 style="font-size: 20px; text-align: center; margin-top: 1rem">
      Progress baar component
    </h1>
  </div>
</section>
