section {
  width: 100%;
  //   height: 90vh;
  //   overflow: auto;
  padding: 1rem;
}
.h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  text-transform: capitalize;
}
.w-full {
  width: 100%;
}

.accordion {
  margin: auto;
  //   width: 50%;
  margin: 2rem 0;
}

.tree-select {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
