@layer tailwind-base, primeng, tailwind-utilities;
@import "primeicons/primeicons.css";
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* Core Grid CSS */

* {
  font-family: "Comfortaa", sans-serif;
}
html,
body {
  margin: 0;
}
.p-tabmenu .p-tabmenu-nav {
  border: unset;
}
.ui-accordion-content-wrapper-overflown {
  overflow: hidden;
}
