@layer tailwind-base, primeng, tailwind-utilities;
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
* {
  font-family: "Comfortaa", sans-serif;
}
html,
body {
  margin: 0;
}
.p-tabmenu .p-tabmenu-nav {
  border: unset;
}
.ui-accordion-content-wrapper-overflown {
  overflow: hidden;
}
